* {
  padding: 0;
  margin: 0;
}

.container-main {
  background-color: #dbdbdb;
  flex-direction: column;
  color: #1f1e1e;
  font-family: "Jaro", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  display: flex;
  justify-content: start;
  align-items: center;
  text-align: center;
  min-height: 100vh;
}

.container-main h2 {
  font-size: 48px;
  margin: 2rem 0;
}

.container-main p {
  font-size: 48px;
  color: #ae0909;
}

.container-main img {
  padding: 0 1rem;
  margin: 0 1rem;
  cursor: pointer;
  border: 1px solid black;
  width: 5vw;
}

.container-main a {
  display: inline-block;
  text-decoration: none;
  background-color: #1f1e1e;
  color: #dbdbdb;
  font-size: 30px;
  padding: 1rem;
  border-radius: 10%;
  text-align: center;
  margin: 1rem;
}

.machine-result-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* margin-top: 2rem; */
}

.machine-result-container img {
  width: 10vw;
  margin-bottom: 1rem;
}

.machine-result-container p {
  margin-bottom: 1rem;
}

a {
  cursor: pointer;
}
